@import 'settings';
@import 'foundation-emails';
body,
html,
.body {
  background: white !important;
}

.socialNetworks,
.marcas,
.textos {
  background-color: #222;
}

.textos p {
  color: white;
}

.logo-copec {
  margin-left:20%;
}

.latam {
  max-width: 160px;
  min-width: 120px;
  margin-right: 20%;
}
